.back2 {
    color: #000;
    background: #fff;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
    margin: auto;
    margin-bottom: 0;
    width: 100%; 
}

.back2 h2 {
    margin-top: 0;
	margin-bottom: 5px;
    font-size: 25px;
    font-weight: 100;
}

.Cinput {
    display: inline-block;
    margin: auto;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.Cinput input, .Cinput select{
    width: 150px;
    padding: 5px 8px;
    border: 1px solid #999;
    border-radius: 5px;
    background: #fff;
}
.Cinput select{
    width: 170px;
}

.eb {
    color: #fff;
    padding: 0px 10px;

    margin: auto;
    text-align: right;
    width: 100%; 
}

.eb button {
    padding: 10px 15px;
    width: 80px;
    font-size: 14.5px;
    font-weight: 100;
    background: #008800;
    color: #fff;
    border: 0;
    border-radius: 5px;
}
.eb button:hover {
    background: #009900;
}