#maa {
    display: block;
}

.menuext {
    position:absolute;
    width: 40%;
    height: 100vh;
    background: rgba(51,51,51,1.0);
    top: 120px;
    left: -1px;
    transition: 0.5s;
    transform: translateX(-101%); 
}


#maa:checked ~ .menuext {
    transform: translateX(0);
}

